#calculator {
    border-radius: 5px;
    border: 1px solid rgb(187, 183, 183);
    width: 200px;
}

#display {
      margin: 10px;
      width: 85%;
      font-size: 25px;
}

.button {
    width: 45px;
    height: 45px;
    margin: 3px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
